/* This CSS file is created for you to create or override any of the existing CSS styles used in this theme */
/*
     FILE ARCHIVED ON 00:45:46 Mar 16, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:30:20 Jan 09, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.79
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.07
  esindex: 0.011
  cdx.remote: 155.644
  LoadShardBlock: 237.476 (3)
  PetaboxLoader3.datanode: 367.133 (5)
  PetaboxLoader3.resolve: 387.736 (3)
  load_resource: 556.56 (2)
*/
